<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/boarddetail.css">
</head>
<body>
<div class="inner-box">
    <div class="content-container">
        <!-- 제목, 작성자, 조회수 한 줄 배치 -->
        <div class="info-row">
            <span class="title" th:text="${board.boardTitle}"></span>
            <span class="writer" th:text="'작성자: ' + ${board.boardWriter}"></span>
            <span class="hits" th:text="'조회수: ' + ${board.boardHits}"></span>
        </div>

        <!-- 본문 내용 -->
        <div class="content-body">
            <p th:text="${board.boardContents}"></p>
        </div>

        <!-- 이미지가 있을 경우 -->
        <div class="image-section" th:if="${board.fileAttached == 1}">
            <img th:src="@{|/upload/${board.storedFileName}|}" alt="첨부 이미지">
        </div>
    </div>

    <!-- 버튼 컨테이너 -->
    <div class="button-container">
        <button onclick="listReq()" class="button">목록</button>
        <button onclick="deleteReq()" class="button">삭제</button>
    </div>
    <div style="color: red;">
        <p th:text="${errorMessage}"></p> <!-- 타임리프를 사용할 경우 -->
    </div>
    <!-- 댓글 작성 부분 -->
    <div id="comment-write" class="comment-box">
        <input type="text" id="commentWriter" placeholder="작성자">
        <input type="text" id="commentContents" placeholder="내용">
        <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
    </div>

    <!-- 댓글 출력 부분 -->
    <div id="comment-list" class="comment-list">
        <table>
            <tr>
                <th>작성자</th>
                <th>내용</th>
            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script th:inline="javascript">
    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);
        const id = "[[${board.id}]]";
        $.ajax({
            type: "post",
            url: "/comment/save",
            data: {
                "commentWriter": writer,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<table>"
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].commentWriter + "</td>";
                    output += "<td>" + res[i].commentContents + "</td>";
                    output += "<td>" + res[i].commentCreatedTime + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });
    }

    const listReq = () => {
        console.log("목록 요청");
        const page = "[[${page}]]";
        location.href = "/board/paging?page=" + page;
    }

    const deleteReq = () => {
        console.log("삭제 요청");
        const id = "[[${board.id}]]";
        location.href = "/board/delete/" + id;
    }
</script>
</html>
