<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class = "outer-box">
    <div class = "inner-box">
        <h2 id = "title">동국대</h2>
        <div class = "save-box">
            <a href="/member/save" id = "save">회원가입</a>
        </div>
        <div class = "login-box">
            <a href="/member/login" id = "login">로그인</a>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="831" height="775" viewBox="0 0 831 775" fill="none">
            <path d="M0 0H831V775H0V0Z" fill="#F59E07"/>
        </svg>
    </div>
</div>
</body>
</html>